fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pydantic
pydantic-settings
scikit-learn
numpy
pandas
joblib
python-dotenv
requests
xgboost
matplotlib
plotly
streamlit
openrouteservice
polyline
tensorflow
scipy